<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
    {% include "component/meta.html" %}

  <title>{% trans "About Us | Careforyou" %}</title>

    {% include "component/css.html" %}
</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "component/sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "component/topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
          <div class="container-fluid">

          <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">{% trans "About us" %}</h1>
          <div class="row">
            <!-- About project -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                  <div class="card-header">
                      <div class="text-center">
                          <h3 >{% trans "This Project" %}</h3>
                      </div>
                  </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="container">
                      <div class="my-4 ml-4 mr-4">
              <!-- Text Content -->
              <blockquote class="blockquote">
                <p class="mb-0 text-gray-900">{% trans "CareForYou aims to solve the problem faced by some First Generation Australians whose parent parents are working and whose native language is not English while growing up in Australia is that they find it difficult to understand and speak English as a second language early on in their lives, specially at school and day care." %}</p>

                <p>{% trans "According to the Australian Bureau of Statistics from the 2011 census it is been said that almost 67% of the recent arrivals to Australia spoke a language other than English at home. Further, only 43% of the recent arrivals reported that they spoke English well." %}</p>
                
                </footer>
              </blockquote>

            </div>
                </div>
                </div>
              </div>
            </div>
            <!-- About us -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                  <div class="card-header">
                      <div class="text-center">
                          <h3 >{% trans "Our Team" %}</h3>
                      </div>
                  </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="container text-center">
                      <img class="mb-4" src="{% static "about/img/team_logo.png" %}" style="width: 350px">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{% static "about/img/Santosh.jpeg" %}" style="height: 200px">
                                <p class="h5 text-gray-900">{% trans "Santosh Reddy"%}</p>
                                <p class="mb-1 text-gray-700">{% trans "Master of Data Science" %}</p>
                                <p class="font-weight-light mb-0"> {% trans "Actively building my career in the field of Data Science, skilled in collecting, wrangling, analyzing and interpreting large datasets, developing new models." %}</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{% static "about/img/Abhinav.jpeg" %}" style="height: 200px">
                              <p class="h5 text-gray-900">{% trans "Abhinav Kapoor" %}</p>
                              <p class="mb-1 text-gray-700"> {% trans "Master of Business Information Systems" %}</p>
                              <p class="font-weight-light mb-0"> {% trans "I am a Business Analyst from India who aspires to work in the Data Analytics domain to find and solve inefficient business processes." %}</p>
                          </div>
                      </div>
                        <div class="col-lg-3">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{% static "about/img/Zhenyu.jpeg" %}" style="height: 200px">
                              <p class="h5 text-gray-900">{% trans "Zhenyu Liu" %}</p>
                                <p class="mb-1 text-gray-700"> {% trans "Master of Data Science" %}</p>
                                <p class="font-weight-light mb-0"> {% trans "Always being active and like to try new things and enjoy the journey of learning new stuff." %}</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{% static "about/img/Haoqi.jpg" %}" style="height: 200px">
                              <p class="h5 text-gray-900">{% trans "Haoqi Xu" %}</p>
                                <p class="mb-1 text-gray-700"> {% trans "Master of Information Technology" %}</p>
                                <p class="font-weight-light mb-0">{% trans "I am enjoy to learn new skills and use my existing skills to implement projects with my team members." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "component/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    {% include "component/script.html" %}

</body>

</html>
